.container {
    /* display: flex;
    justify-content: center; */
    /* width: 40%; */
    /* height: 40% !important; */
    width: 70%;
    /* height: 505%; */
    /* background-image: url(../../images/download.jpg);
    object-fit: cover; */
    /* margin: auto;
    border: auto; */
}

@media (max-width: 770px) {
    .container {
        width: 100%;
    }


}