body {
    background-color: rgb(235,235,235);
    /* background-image: url(images/download.jpg);
    background-repeat: no-repeat;
    background-size: 100%; */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.image {
    width: 370px;
    margin-top: 50px;
}

.flexcontainer {
    display: flex;
    justify-content: space-between;
    /* flex-flow: row wrap; */
    /* background-color: brown; */
    width: 90%;
    overflow-wrap: break-word;
}



@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }

    .image {
        width: 100%;
    }

    .flexcontainer {
        flex-direction: column;
    }
}